@mixin arrow-down {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid $text--dark;
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

@mixin arrow-up {
  border-bottom: 6px solid $text--dark;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: none;
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.css-truncate-target {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
