.image-drop {
  align-items: center;
  background-size: cover;
  border: 2px solid $blue;
  color: $gray;
  display: flex;
  font-size: $body-font-size-small;
  height: 150px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 150px;
 }

.image-drop--active {
  @extend .image-drop;
  background: $blue--lighter;
  color: $blue;
}

.image-drop--circle {
  @extend .image-drop;
  border-radius: 75px;
  transition: background-color .25s ease-out;
  &:hover {
    // !important here is used to make sure hover background
    // displays after an image was uploaded
    background: $gray--light !important;
    background-size: cover;
    color: white;
    height: 150px;
    width: 150px;
    span {
      display: none;
    }
    &:after {
      @include sprite($camera);
      content: '';
    }
  }
}

.image-drop--drag {
  @extend .image-drop;
  background: $gray--light !important;
  border: 2px dashed $blue;
  span {
    display: none;
  }
  &:after {
    @include sprite($camera);
    content: '';
  }
}

.image-drop {
  input[type=file] {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

.has-image {
  // this will hide the original caption displayed before an image is uploaded
  span {
    display: none;
  }
}
